.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "icon data"
    "void content";
    grid-template-columns: 64px 1fr;

    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: solid 1px gray;
    border-radius: 8px;
    margin: 20px 10px;  
}

.icon {
    grid-area: icon;
    overflow: hidden;
    display: inline-block;
    height: 64px;
    width: 64px;
    border-radius: 8px;
}

.icon img {
    height: 100%;
    width: 100%; 
    object-fit: cover;
}

.header {
    grid-area: data;
    display: inline-block;
    height: 64px;
    position: relative;
}

.headerInfo {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}


.name {
    font-size: 24px;
}

.messages {
    grid-area: content;
}
