.wrapper {
    display: grid;

    grid-template-areas: 
    "head head head"
    "nav cont void";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 10fr 3fr;
}
.header {
    grid-area: head;
    background-color: #1a1a1a;
}

.navigation {
    grid-area: nav;
    background-color: #1a1a1a;

}

.content {
    padding: 40px;
    grid-area: cont;
    margin: 10px

}

.void{
    grid-area: void;
}

button {
    border: 0px;
    border-radius: 8px;
    color: black;
    background: #a9bcf8;
}

button:hover {
    background-color: #b2c4fc;
}

button:active{
    background-color: #a3b4ec;
}

button:disabled {
    background-color: #99a1b9;
}