.wrapper {
    display: grid;

    grid-template-areas: 
    "head head head"
    "nav cont void";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 10fr 3fr;
}
.header {
    grid-area: head;
    background-color: #1a1a1a;
}

.navigation {
    grid-area: nav;
    background-color: #1a1a1a;

}

.content {
    padding: 40px;
    grid-area: cont;
    margin: 10px

}

.void{
    grid-area: void;
}